
<nav class="navbar">
  <button class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="menu" *ngIf="showMenu" [ngClass]="{'show': showMenu}">
    <a routerLink="">Home</a>
    <a routerLink="movies/add">Add - Agregar Pelicula</a>

    <!--<div *ngIf="authService.isAuthenticated$ | async">-->
    <div>
      <!-- Display logout link when authenticated -->
      <a (click)="logout()">Logout</a>
    </div>

  </div>
</nav>


