
<!--
<nav>
  <button routerLink="movies/add" *ngIf="!router.url.includes('movies/add')">
    Add
  </button>
</nav>
-->

<nav class="navbar">
  <button class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="menu" *ngIf="showMenu" [ngClass]="{'show': showMenu}">
    <a routerLink="movies">Home</a>
    <a routerLink="movies/add">Add - Agregar Pelivula</a>
    <a href="#">Log Out</a>
  </div>
</nav>


