img {
  //200x400
  //253x376
  max-width: 253px;
  height: 376px;
  transform: scale(0.7);
  object-fit: full;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  justify-content: center;
}

li {
  margin: 10px;
  width: 200px;
}
